<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <a class="home__link" href="../index.html">home</a>
        <section class="bookmarks__section">
            <h1 class="bookmark__title">закладки:</h1>
            <input type="text" class="url__input" placeholder="введіть URL">
            <button class="bookmark__button">Додати</button>

            <ul class="bookmark__list">
                
            </ul>
        </section>
    </div>

    <script src="../js/task4.js" type="module"></script>
</body>
</html>